POSTGRES_USER=abs_user
POSTGRES_PASSWORD=abs_password
POSTGRES_DB=abs_inventory
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg2://abs_user:abs_password@db:5432/abs_inventory
API_PORT=8000
# LLM (AI-помощник)
LLM_API_KEY=A************************************iOs
LLM_BASE_URL=https://ai.api.cloud.yandex.net/v1
LLM_MODEL=gpt://b*****************to/yandexgpt-lite/latest
LLM_FOLDER_ID=b*****************to
